/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: monospace;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#divConsole {
  float:left;
  height: 508px;
  margin: 4px;
  overflow-y: scroll;
  width: 521px;
}

#display {
  background-color: #DFDBC3;
  border: 2px solid red;
  cursor: default;
}

#divButtonBar {
  margin: 4px;
}

#divMain {
  width: 100%;
}

#divLog {
  margin-left: 520px;
}
#taHostLog {
  width: 650px;
}

#divTaskBar {

}

#divMemoryDisplay {
  height: 125px;
  overflow-y: scroll;
}
table {
  border-collapse: collapse;
  background-color: white;
}
tr {
  background-color: white;
  border: 1px solid black;
  display: block;
}
td {
  border-left: 1px solid black;
  width: 25px;
}
#memoryTable .titleCell {
  border-right: 2px solid black;
  width: 48px;
}

#divMemoryDisplay {
  display: inline-block;
}

#divCpuDisplay {
  display: inline-block;
}

#cpuDisplay {
  resize: none;
}

#divResidentQueueDisplay {
  display: inline-block;
  height: 135px;
  overflow-y: scroll;
}
#residentQueueTable td{
  text-align: center;
  white-space: nowrap;
  width: 50px;
}

#divReadyQueueDisplay {
  display: inline-block;
  height: 135px;
  overflow-y: scroll;
}
#readyQueueTable td {
  text-align: center;
  white-space: nowrap;
  width: 50px;
}
#readyQueueTable .statusCell {
  text-align: center;
  width: 70px;
}

#divHardDriveDisplay {
  height: 150px;
  width: 550px;
  overflow: scroll;
}

#hardDriveTable {
  width: 1300px;
}
#hardDriveTable td{
  text-align: center;
  width: 58px;
}
#hardDriveTable .endOfFileNames {
  border-bottom: 15px double black;
}

#taskBar {
  resize: none;
}

#divUserProgramInput {
  margin-left: 520px;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
